*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Noto Sans TC', sans-serif;
}
.header{
    background:#3b1e1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:2px solid #000;
    
}
a{
    text-decoration:none;
    vertical-align: middle;
}
.text{
    background: #3b1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    margin-left: 200px;
    white-space: nowrap;
}
.logo{
    white-space: nowrap;
    display: inline;
}

.logoname{
    color:#d9a200;
    font-size:25px;
    letter-spacing: 5px;
    margin-left: 5px;
    margin-right: 10px;
    white-space: nowrap;
    display: inline;
}
.search{
    margin-left:10px;
    white-space: nowrap;
}

.searchbox{
    width:35em;
    height:2.5em;
    border-radius: 10px;
    vertical-align: middle;
    border:0px solid #d9a200;
}
.searchbutton{
    width:5em;
    height:2.5em;
    border-radius: 10px;
    vertical-align: middle;
    border:0px solid #d9a200;
}
.searchicon{
    margin-top:3.5px;
}
.btn{
    margin-right: 50px;
    background: #3b1e1e;
}
.signupin{
    color:#d9a200;
    font-size:20px;
    
}
.signupin:hover{
    border-style:solid;
    border-radius: 5px;
    padding:5px;
}
.left{
    background: #ceb195;
    float: left;
    width: 20%;
    height: calc(100vh - 100px);
    border:2px solid #000;
}
.cate{
    font-size: 25px;
    border-bottom:2px solid #000;
    padding:10px 0px 10px 30px;
}
.catetitle{
    font-size: 20px;
    color:rgb(0, 0, 0);
    padding:10px 0px 10px 30px;
}
.catetitle:hover{
    background: #3b1e1e;
    color:#fff;
    
}
.right{
    background: #fff;
    float: right;
    width: 80%;
    height: calc(100vh - 100px);
}
.postheader{
    border-bottom:2px solid #000;
    padding:30px 0px 10px 35px;
    
}
.posthead{
    display: flex;
}
.postnumber{
    width:30px;
}
.posttitle{
    width:400px;
}
.publisher{
    width:400px;
}
.postdate{
    width:250px;
}

